<div class="ui-g">
  <div class="ui-g-12">
    <form>
      <p-panel>

        <p-header>
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title titulo-panel">Prova - {{certficationName}}</span>
            <label class="tempo">Tempo: 00:05:13</label>
          </div>
        </p-header>

        <div *ngFor="let question of questions">
          <div [innerHTML]="question.statementQuestion"></div>
          <br>
          <div *ngIf="hasMultipleChoice(question.statements), else onlyChoice">
              <div *ngFor="let sta of question.statements">
                  <p-checkbox name="state" value="{{sta.item}}" label="{{sta.description}}" (onChange)="clickCheckbox(question.number, sta.item, $event)"></p-checkbox>
              </div>
          </div>
          
          <ng-template #onlyChoice>
              <div *ngFor="let sta of question.statements">
                  <p-radioButton name="item" label="{{sta.description}}" value="{{sta.item}}" (onClick)="clickRadio(question.number, sta.item)"></p-radioButton>
              </div>
          </ng-template>
          
          <br>
          <hr>
          <br>
        </div>

        <p-footer>
            <button type="button" pButton icon="pi pi-check" iconPos="left" label="Finalizar"
               style="margin-top: 10px" (click)="finalizar()"></button>
        </p-footer>

      </p-panel>
    </form>
  </div>
</div>
