.statement {
    font-weight: bold;
}

.title-panel {
    font-size:16px;
    display:inline-block;
    margin-top:2px
}

.time {
    float: right;
    font-weight: bold;
    padding-top: 7px;
}

.button-init {
    float: right;
    margin-right: 3%;
}