<p-toast></p-toast>
<div class="ui-g">
  <div class="ui-g-12">
    <p-panel header="Certificações">

      <form [formGroup]="formFilter">

        <div class="ui-g">
          <div class="ui-g-3">
            <label>Nome</label>
            <input type="text" pInputText style="width: 100%" formControlName="name">
          </div>

          <div class="ui-g-3">
            <label>Exame</label>
            <input type="text" pInputText style="width: 100%" formControlName="exam">
          </div>

          <div class="ui-g-3">
            <label>Organizador</label><br>
            <p-dropdown [options]="organizations" [style]="{'width':'100%'}" optionLabel="name" [filter]="true"
              formControlName="organization"></p-dropdown>
          </div>

          <div class="ui-g-2" style="padding-top: 25px">
            <button type="button" pButton icon="pi pi-search" label="Pesquisar" (click)="search()"></button>
          </div>
        </div>

        <div class="ui-g">
          <div class="ui-g-12">
            <p-table [value]="certifications">
              <ng-template pTemplate="header">
                <tr>
                  <th>Nome</th>
                  <th>Exame</th>
                  <th style="width: 90px">Detalhes</th>
                  <th style="width: 90px">Ações</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-certification>
                <tr>
                  <td>{{certification.name}}</td>
                  <td>{{certification.exam}}</td>
                  <td style="width: 90px; text-align: center">
                    <a (click)="searchDetails(certification)"><i style="font-size: 1.9em"
                        class="pi pi-info-circle"></i></a>
                  </td>
                  <td style="width: 90px; text-align: center">
                    <a [routerLink]="['/register', certification.id]"><i style="font-size: 1.9em" class="pi pi-pencil"></i></a>
                    <a (click)="delete(certification)"><i style="font-size: 1.9em" class="pi pi-trash"></i></a>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4">
                    Nenhuma certificação encontrada.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

      </form>

    </p-panel>
  </div>
</div>

<p-dialog header="Detalhes - {{ examDialog }}" [(visible)]="openDialogDetails" [modal]="true" [responsive]="true"
  [style]="{width: '500px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  
  <ul>
    <li *ngFor="let detail of details">
      {{ detail.description }}
    </li>
  </ul>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" iconPos="left" (click)="openDialogDetails=false" label="Ok"></button>
  </p-footer>
</p-dialog>